nav a{
     text-decoration: none;
        color:white;
        padding: 50px;
        display: inline-block;
        }
  nav{
    background-color: black;
    text-align: center;
  }      
nav a:hover{
    color:green;
    background-color: white;
}
div{
    font-size: 20px;
        padding: 10px;
        margin: 20px;
}
#pic img{
    width: 100%;
    vertical-align: top;
  }
  #pre{
    text-align: left;
  }
  #e{
    text-align: center;
  }
 .two{
  width: 70%;
  border: 1px solid black;
  border-collapse: collapse;
} 
.two th,
.two td{
  border: 1px solid black;
  padding: 20px 0;
}
.two td{
  text-align: center;
}
#add tr td{
  border: 1px solid black;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
  
}
#add{
  border-collapse: collapse;
}
  





  

  
    
